java/src/main/adlex/delta/ws/DMIService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.delta.adlex" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.delta.adlex" xmlns:intf="http://ws.delta.adlex" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://ws.delta.adlex" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOfArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[][]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="DMIServiceError">
    <sequence>
     <element name="error" type="xsd:boolean"/>
     <element name="errorDescriptions" nillable="true" type="impl:ArrayOf_soapenc_string"/>
     <element name="info" type="xsd:boolean"/>
     <element name="infoDescriptions" nillable="true" type="impl:ArrayOf_soapenc_string"/>
     <element name="warning" type="xsd:boolean"/>
     <element name="warningDescriptions" nillable="true" type="impl:ArrayOf_soapenc_string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfDMIServiceError">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:DMIServiceError[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfArrayOf_soapenc_double">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:double[][]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="DMIData">
    <sequence>
     <element name="columnHeader" nillable="true" type="impl:ArrayOf_soapenc_string"/>
     <element name="dmiServiceError" nillable="true" type="impl:ArrayOfDMIServiceError"/>
     <element name="formattedData" nillable="true" type="impl:ArrayOfArrayOf_soapenc_string"/>
     <element name="rawData" nillable="true" type="impl:ArrayOfArrayOf_soapenc_double"/>
     <element name="timeBegin" nillable="true" type="soapenc:long"/>
     <element name="timeEnd" nillable="true" type="soapenc:long"/>
     <element name="timeout" type="xsd:boolean"/>
     <element name="timeoutValue" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="DMIData2">
    <complexContent>
     <extension base="impl:DMIData">
      <sequence>
       <element name="columnHeaderName" nillable="true" type="impl:ArrayOf_soapenc_string"/>
       <element name="columnUnit" nillable="true" type="impl:ArrayOf_soapenc_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="DMIData3">
    <complexContent>
     <extension base="impl:DMIData2">
      <sequence>
       <element name="columnRendererIds" nillable="true" type="impl:ArrayOf_soapenc_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPropertyRequest">

      <wsdl:part name="propertyName" type="soapenc:string"/>

      <wsdl:part name="defValue" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="registerPropertyProviderResponse">

   </wsdl:message>

   <wsdl:message name="getI18NRequest">

      <wsdl:part name="lang" type="soapenc:string"/>

      <wsdl:part name="totranslate" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getResolutionsRequest">

      <wsdl:part name="appId" type="soapenc:string"/>

      <wsdl:part name="viewId" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getDMIData2Response">

      <wsdl:part name="getDMIData2Return" type="impl:DMIData2"/>

   </wsdl:message>

   <wsdl:message name="setPropertyResponse">

      <wsdl:part name="setPropertyReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="getLastSampleTimeRequest">

      <wsdl:part name="appId" type="soapenc:string"/>

      <wsdl:part name="viewId" type="soapenc:string"/>

      <wsdl:part name="resolution" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="saveReportDefinitionResponse">

      <wsdl:part name="saveReportDefinitionReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="registerPropertyProviderRequest">

      <wsdl:part name="ifc" type="xsd:anyType"/>

   </wsdl:message>

   <wsdl:message name="getSaveReportNumberResponse">

      <wsdl:part name="getSaveReportNumberReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getDMIDataResponse">

      <wsdl:part name="getDMIDataReturn" type="impl:DMIData"/>

   </wsdl:message>

   <wsdl:message name="getDimensionValuesResponse">

      <wsdl:part name="getDimensionValuesReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getPropertyResponse">

      <wsdl:part name="getPropertyReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getDataViewsRequest">

      <wsdl:part name="appId" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getDMIData3Request">

      <wsdl:part name="appId" type="soapenc:string"/>

      <wsdl:part name="viewId" type="soapenc:string"/>

      <wsdl:part name="dataSourceId" type="soapenc:string"/>

      <wsdl:part name="dimensionIds" type="impl:ArrayOf_soapenc_string"/>

      <wsdl:part name="metricIds" type="impl:ArrayOf_soapenc_string"/>

      <wsdl:part name="dimFilters" type="impl:ArrayOfArrayOf_soapenc_string"/>

      <wsdl:part name="metricFilters" type="impl:ArrayOfArrayOf_soapenc_string"/>

      <wsdl:part name="sort" type="impl:ArrayOfArrayOf_soapenc_string"/>

      <wsdl:part name="top" type="soapenc:int"/>

      <wsdl:part name="resolution" type="soapenc:string"/>

      <wsdl:part name="timePeriod" type="soapenc:string"/>

      <wsdl:part name="numberOfPeriods" type="soapenc:int"/>

      <wsdl:part name="timeBegin" type="soapenc:long"/>

      <wsdl:part name="timeEnd" type="soapenc:long"/>

      <wsdl:part name="timeout" type="soapenc:long"/>

   </wsdl:message>

   <wsdl:message name="getDimensionsResponse">

      <wsdl:part name="getDimensionsReturn" type="impl:ArrayOfArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getApplicationsRequest">

   </wsdl:message>

   <wsdl:message name="getDataSourcesRequest">

      <wsdl:part name="appId" type="soapenc:string"/>

      <wsdl:part name="viewId" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getSaveReportLimitResponse">

      <wsdl:part name="getSaveReportLimitReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getDMIData3Response">

      <wsdl:part name="getDMIData3Return" type="impl:DMIData3"/>

   </wsdl:message>

   <wsdl:message name="getCurrentTimeRequest">

      <wsdl:part name="appId" type="soapenc:string"/>

      <wsdl:part name="viewId" type="soapenc:string"/>

      <wsdl:part name="resolution" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getDMIDataRequest">

      <wsdl:part name="appId" type="soapenc:string"/>

      <wsdl:part name="viewId" type="soapenc:string"/>

      <wsdl:part name="dataSourceId" type="soapenc:string"/>

      <wsdl:part name="dimensionIds" type="impl:ArrayOf_soapenc_string"/>

      <wsdl:part name="metricIds" type="impl:ArrayOf_soapenc_string"/>

      <wsdl:part name="dimFilters" type="impl:ArrayOfArrayOf_soapenc_string"/>

      <wsdl:part name="metricFilters" type="impl:ArrayOfArrayOf_soapenc_string"/>

      <wsdl:part name="sort" type="impl:ArrayOfArrayOf_soapenc_string"/>

      <wsdl:part name="top" type="soapenc:int"/>

      <wsdl:part name="resolution" type="soapenc:string"/>

      <wsdl:part name="timePeriod" type="soapenc:string"/>

      <wsdl:part name="numberOfPeriods" type="soapenc:int"/>

      <wsdl:part name="timeBegin" type="soapenc:long"/>

      <wsdl:part name="timeEnd" type="soapenc:long"/>

      <wsdl:part name="timeout" type="soapenc:long"/>

   </wsdl:message>

   <wsdl:message name="getMetricsResponse">

      <wsdl:part name="getMetricsReturn" type="impl:ArrayOfArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getSaveReportLimitRequest">

   </wsdl:message>

   <wsdl:message name="setSaveReportLimitResponse">

   </wsdl:message>

   <wsdl:message name="getResolutionsResponse">

      <wsdl:part name="getResolutionsReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getPropertiesRequest">

      <wsdl:part name="appId" type="soapenc:string"/>

      <wsdl:part name="viewId" type="soapenc:string"/>

      <wsdl:part name="resolution" type="soapenc:string"/>

      <wsdl:part name="idFilter" type="soapenc:string"/>

      <wsdl:part name="propFilter" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getSaveReportNumberRequest">

   </wsdl:message>

   <wsdl:message name="setSaveReportLimitRequest">

      <wsdl:part name="number" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getDMIData2Request">

      <wsdl:part name="appId" type="soapenc:string"/>

      <wsdl:part name="viewId" type="soapenc:string"/>

      <wsdl:part name="dataSourceId" type="soapenc:string"/>

      <wsdl:part name="dimensionIds" type="impl:ArrayOf_soapenc_string"/>

      <wsdl:part name="metricIds" type="impl:ArrayOf_soapenc_string"/>

      <wsdl:part name="dimFilters" type="impl:ArrayOfArrayOf_soapenc_string"/>

      <wsdl:part name="metricFilters" type="impl:ArrayOfArrayOf_soapenc_string"/>

      <wsdl:part name="sort" type="impl:ArrayOfArrayOf_soapenc_string"/>

      <wsdl:part name="top" type="soapenc:int"/>

      <wsdl:part name="resolution" type="soapenc:string"/>

      <wsdl:part name="timePeriod" type="soapenc:string"/>

      <wsdl:part name="numberOfPeriods" type="soapenc:int"/>

      <wsdl:part name="timeBegin" type="soapenc:long"/>

      <wsdl:part name="timeEnd" type="soapenc:long"/>

      <wsdl:part name="timeout" type="soapenc:long"/>

   </wsdl:message>

   <wsdl:message name="getI18NResponse">

      <wsdl:part name="getI18NReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getDimensionValuesRequest">

      <wsdl:part name="appId" type="soapenc:string"/>

      <wsdl:part name="viewId" type="soapenc:string"/>

      <wsdl:part name="dimId" type="soapenc:string"/>

      <wsdl:part name="dataSourceId" type="soapenc:string"/>

      <wsdl:part name="quant" type="soapenc:int"/>

      <wsdl:part name="filter" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getServerUUIDResponse">

      <wsdl:part name="getServerUUIDReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getDataSourcesResponse">

      <wsdl:part name="getDataSourcesReturn" type="impl:ArrayOfArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getMetricsRequest">

      <wsdl:part name="appId" type="soapenc:string"/>

      <wsdl:part name="viewId" type="soapenc:string"/>

      <wsdl:part name="resolution" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getCurrentTimeResponse">

      <wsdl:part name="getCurrentTimeReturn" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="setPropertyRequest">

      <wsdl:part name="propertyName" type="soapenc:string"/>

      <wsdl:part name="propertyValue" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getDataViewsResponse">

      <wsdl:part name="getDataViewsReturn" type="impl:ArrayOfArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getPropertiesResponse">

      <wsdl:part name="getPropertiesReturn" type="impl:ArrayOfArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="saveReportDefinitionRequest">

      <wsdl:part name="appId" type="soapenc:string"/>

      <wsdl:part name="viewId" type="soapenc:string"/>

      <wsdl:part name="dataSourceId" type="soapenc:string"/>

      <wsdl:part name="dimensionIds" type="impl:ArrayOf_soapenc_string"/>

      <wsdl:part name="metricIds" type="impl:ArrayOf_soapenc_string"/>

      <wsdl:part name="dimFilters" type="impl:ArrayOfArrayOf_soapenc_string"/>

      <wsdl:part name="metricFilters" type="impl:ArrayOfArrayOf_soapenc_string"/>

      <wsdl:part name="sort" type="impl:ArrayOfArrayOf_soapenc_string"/>

      <wsdl:part name="top" type="soapenc:int"/>

      <wsdl:part name="resolution" type="soapenc:string"/>

      <wsdl:part name="timePeriod" type="soapenc:string"/>

      <wsdl:part name="numberOfPeriods" type="soapenc:int"/>

      <wsdl:part name="timeBegin" type="soapenc:long"/>

      <wsdl:part name="timeEnd" type="soapenc:long"/>

   </wsdl:message>

   <wsdl:message name="getDimensionsRequest">

      <wsdl:part name="appId" type="soapenc:string"/>

      <wsdl:part name="viewId" type="soapenc:string"/>

      <wsdl:part name="resolution" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getApplicationsResponse">

      <wsdl:part name="getApplicationsReturn" type="impl:ArrayOfArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getLastSampleTimeResponse">

      <wsdl:part name="getLastSampleTimeReturn" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="getServerUUIDRequest">

   </wsdl:message>

   <wsdl:portType name="DMIService">

      <wsdl:operation name="setProperty" parameterOrder="propertyName propertyValue">

         <wsdl:input message="impl:setPropertyRequest" name="setPropertyRequest"/>

         <wsdl:output message="impl:setPropertyResponse" name="setPropertyResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getProperty" parameterOrder="propertyName defValue">

         <wsdl:input message="impl:getPropertyRequest" name="getPropertyRequest"/>

         <wsdl:output message="impl:getPropertyResponse" name="getPropertyResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getProperties" parameterOrder="appId viewId resolution idFilter propFilter">

         <wsdl:input message="impl:getPropertiesRequest" name="getPropertiesRequest"/>

         <wsdl:output message="impl:getPropertiesResponse" name="getPropertiesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getServerUUID">

         <wsdl:input message="impl:getServerUUIDRequest" name="getServerUUIDRequest"/>

         <wsdl:output message="impl:getServerUUIDResponse" name="getServerUUIDResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getApplications">

         <wsdl:input message="impl:getApplicationsRequest" name="getApplicationsRequest"/>

         <wsdl:output message="impl:getApplicationsResponse" name="getApplicationsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getMetrics" parameterOrder="appId viewId resolution">

         <wsdl:input message="impl:getMetricsRequest" name="getMetricsRequest"/>

         <wsdl:output message="impl:getMetricsResponse" name="getMetricsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDimensions" parameterOrder="appId viewId resolution">

         <wsdl:input message="impl:getDimensionsRequest" name="getDimensionsRequest"/>

         <wsdl:output message="impl:getDimensionsResponse" name="getDimensionsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="registerPropertyProvider" parameterOrder="ifc">

         <wsdl:input message="impl:registerPropertyProviderRequest" name="registerPropertyProviderRequest"/>

         <wsdl:output message="impl:registerPropertyProviderResponse" name="registerPropertyProviderResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDataViews" parameterOrder="appId">

         <wsdl:input message="impl:getDataViewsRequest" name="getDataViewsRequest"/>

         <wsdl:output message="impl:getDataViewsResponse" name="getDataViewsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDataSources" parameterOrder="appId viewId">

         <wsdl:input message="impl:getDataSourcesRequest" name="getDataSourcesRequest"/>

         <wsdl:output message="impl:getDataSourcesResponse" name="getDataSourcesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDimensionValues" parameterOrder="appId viewId dimId dataSourceId quant filter">

         <wsdl:input message="impl:getDimensionValuesRequest" name="getDimensionValuesRequest"/>

         <wsdl:output message="impl:getDimensionValuesResponse" name="getDimensionValuesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getResolutions" parameterOrder="appId viewId">

         <wsdl:input message="impl:getResolutionsRequest" name="getResolutionsRequest"/>

         <wsdl:output message="impl:getResolutionsResponse" name="getResolutionsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getLastSampleTime" parameterOrder="appId viewId resolution">

         <wsdl:input message="impl:getLastSampleTimeRequest" name="getLastSampleTimeRequest"/>

         <wsdl:output message="impl:getLastSampleTimeResponse" name="getLastSampleTimeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCurrentTime" parameterOrder="appId viewId resolution">

         <wsdl:input message="impl:getCurrentTimeRequest" name="getCurrentTimeRequest"/>

         <wsdl:output message="impl:getCurrentTimeResponse" name="getCurrentTimeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDMIData" parameterOrder="appId viewId dataSourceId dimensionIds metricIds dimFilters metricFilters sort top resolution timePeriod numberOfPeriods timeBegin timeEnd timeout">

         <wsdl:input message="impl:getDMIDataRequest" name="getDMIDataRequest"/>

         <wsdl:output message="impl:getDMIDataResponse" name="getDMIDataResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDMIData2" parameterOrder="appId viewId dataSourceId dimensionIds metricIds dimFilters metricFilters sort top resolution timePeriod numberOfPeriods timeBegin timeEnd timeout">

         <wsdl:input message="impl:getDMIData2Request" name="getDMIData2Request"/>

         <wsdl:output message="impl:getDMIData2Response" name="getDMIData2Response"/>

      </wsdl:operation>

      <wsdl:operation name="getDMIData3" parameterOrder="appId viewId dataSourceId dimensionIds metricIds dimFilters metricFilters sort top resolution timePeriod numberOfPeriods timeBegin timeEnd timeout">

         <wsdl:input message="impl:getDMIData3Request" name="getDMIData3Request"/>

         <wsdl:output message="impl:getDMIData3Response" name="getDMIData3Response"/>

      </wsdl:operation>

      <wsdl:operation name="saveReportDefinition" parameterOrder="appId viewId dataSourceId dimensionIds metricIds dimFilters metricFilters sort top resolution timePeriod numberOfPeriods timeBegin timeEnd">

         <wsdl:input message="impl:saveReportDefinitionRequest" name="saveReportDefinitionRequest"/>

         <wsdl:output message="impl:saveReportDefinitionResponse" name="saveReportDefinitionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setSaveReportLimit" parameterOrder="number">

         <wsdl:input message="impl:setSaveReportLimitRequest" name="setSaveReportLimitRequest"/>

         <wsdl:output message="impl:setSaveReportLimitResponse" name="setSaveReportLimitResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSaveReportLimit">

         <wsdl:input message="impl:getSaveReportLimitRequest" name="getSaveReportLimitRequest"/>

         <wsdl:output message="impl:getSaveReportLimitResponse" name="getSaveReportLimitResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSaveReportNumber">

         <wsdl:input message="impl:getSaveReportNumberRequest" name="getSaveReportNumberRequest"/>

         <wsdl:output message="impl:getSaveReportNumberResponse" name="getSaveReportNumberResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getI18N" parameterOrder="lang totranslate">

         <wsdl:input message="impl:getI18NRequest" name="getI18NRequest"/>

         <wsdl:output message="impl:getI18NResponse" name="getI18NResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DMIServiceSoapBinding" type="impl:DMIService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="setProperty">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setPropertyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setPropertyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProperty">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPropertyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getPropertyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProperties">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPropertiesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getPropertiesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getServerUUID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServerUUIDRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getServerUUIDResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getApplications">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getApplicationsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getApplicationsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMetrics">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMetricsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMetricsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDimensions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDimensionsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDimensionsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerPropertyProvider">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerPropertyProviderRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="registerPropertyProviderResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDataViews">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataViewsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataViewsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDataSources">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataSourcesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataSourcesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDimensionValues">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDimensionValuesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDimensionValuesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getResolutions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResolutionsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getResolutionsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getLastSampleTime">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLastSampleTimeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getLastSampleTimeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCurrentTime">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCurrentTimeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCurrentTimeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDMIData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDMIDataRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDMIDataResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDMIData2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDMIData2Request">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDMIData2Response">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDMIData3">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDMIData3Request">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDMIData3Response">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saveReportDefinition">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveReportDefinitionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="saveReportDefinitionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setSaveReportLimit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setSaveReportLimitRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setSaveReportLimitResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSaveReportLimit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSaveReportLimitRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSaveReportLimitResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSaveReportNumber">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSaveReportNumberRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSaveReportNumberResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getI18N">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getI18NRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getI18NResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.delta.adlex" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DMIServiceService">

      <wsdl:port binding="impl:DMIServiceSoapBinding" name="DMIService">

         <wsdlsoap:address location="http://localhost/services/DMIService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
